In [1]:
import pickle

f = open('example_dataframes.pckl','rb')
SumNew, SumNewCars, NewCars, MarketShare, MarketShare_Total = pickle.load(f)
f.close()

In [4]:
SumNew

    Year  TotalCars
0   2012       36.0
1   2013       37.0
2   2014       44.0
3   2015       53.0
4   2016       55.0
5   2017       61.0
6   2018       65.0
7   2019       67.0
8   2020       68.0
9   2021       69.0
10  2022       70.0
11  2023       71.0
12  2024       70.0
13  2025       66.0
14  2026       64.0
15  2027       63.0
16  2028       56.0
17  2029       50.0
18  2030       48.0
19  2031       43.0
20  2032       43.0
21  2033       52.0
22  2034       59.0
23  2035       62.0

In [5]:
# Convert SumNew into dict - easy one?
SumNew_dict = dict()
for year in SumNew['Year'].tolist():
    SumNew_dict[year] = SumNew[SumNew['Year'] == year].TotalCars.item()

SumNew_dict

{2012: 36.0,
 2013: 37.0,
 2014: 44.0,
 2015: 53.0,
 2016: 55.0,
 2017: 61.0,
 2018: 65.0,
 2019: 67.0,
 2020: 68.0,
 2021: 69.0,
 2022: 70.0,
 2023: 71.0,
 2024: 70.0,
 2025: 66.0,
 2026: 64.0,
 2027: 63.0,
 2028: 56.0,
 2029: 50.0,
 2030: 48.0,
 2031: 43.0,
 2032: 43.0,
 2033: 52.0,
 2034: 59.0,
 2035: 62.0}

In [7]:
SumNewCars

,Year,Private_Fleet,Size,Consumer,Charging_Access,SumNewCars,MarketShTotal
0,2012,Private,1,Enthusiast,0,2.58625,7.988824e-05
1,2012,Private,1,Enthusiast,1,0.279098,8.042229e-05
2,2012,Private,1,Enthusiast,2,0.114264,8.005093e-05
3,2012,Private,2,Enthusiast,0,1.32969,5.775617e-07
4,2012,Private,2,Enthusiast,1,0.143495,5.895020e-07
...,...,...,...,...,...,...,...
1291,2035,Fleet,2,FleetCar,1,0,2.997252e-06
1292,2035,Fleet,2,FleetCar,2,0,1.392300e-22
1293,2035,Fleet,3,FleetCar,0,0,0.000000e+00
1294,2035,Fleet,3,FleetCar,1,0,1.771086e-08
1295,2035,Fleet,3,FleetCar,2,0,4.326556e-25

In [10]:
# All of this is predicated on tables like Technology and Cost_Data which are fucking massive. Can we turn them into dicts
import pandas as pd
LED_scenario = 'LED1'
# Technology
Technology = pd.read_csv(f"./tables/Technology_{LED_scenario}.csv")

# exclude other vehicle types (cars only)
Technology = Technology[Technology.VehTypeID == 3]

# replace na with 2050 (for final year)
Technology.Final_Year.fillna(int(2050), inplace=True)

Technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife
8,70,1,3,1,1,1,1,1980,1991.0,0,8.362769,NaN,0,10000.0,1,5.0,12
9,80,1,3,1,1,14,1,2009,2014.0,0,7.309161,NaN,1,10000.0,1,5.0,12
10,81,1,3,1,1,15,1,2015,2019.0,0,6.709962,NaN,1,10000.0,1,5.0,12
11,82,1,3,1,1,16,1,2020,2024.0,0,6.227565,NaN,1,10000.0,1,5.0,12
12,83,1,3,1,1,17,1,2025,2029.0,0,5.774301,NaN,1,10000.0,1,5.0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,1704,1,3,2,12,17,1,2025,2029.0,0,17.615841,NaN,2,17500.0,1,5.0,12
642,1705,1,3,2,12,18,1,2030,2034.0,0,16.333698,NaN,2,15000.0,1,5.0,12
643,1706,1,3,2,12,19,1,2035,2039.0,0,15.144875,NaN,2,15000.0,1,5.0,12
644,1707,1,3,2,12,20,1,2040,2044.0,0,14.042577,NaN,2,15000.0,1,5.0,12
645,1708,1,3,2,12,21,1,2045,2050.0,0,13.020509,NaN,2,15000.0,1,5.0,12

In [11]:
#Cost Data 
import pandas as pd
LED_scenario = 'LED1'

# Cost_data
Cost_Data = pd.read_csv(f"./tables/Cost_Data_{LED_scenario}.csv")

Cost_Data = Cost_Data[(Cost_Data.VehTypeID == 3) & (Cost_Data.Year <= 2050)]

Cost_Data

,ScenarioID,CountryID,PolicyID,Year,TechID,TransTypeID,VehTypeID,MassCatID,FuelID,HybridFlag,...,AnnCostsPriv,AnnCostsCompUser,AnnCostsCompFleet,NoChargingAccessPenalty,ChargingTime,SupplyPenalty,Range,TCO,FVDepreciation,FVRunningCost
5,1,9,0,2012,70,1,3,1,1,0,...,2633.238281,5275.646973,3018.431396,0,0.000000,0.0,0,20494.77344,8400.0,3465.551514
6,1,9,0,2012,80,1,3,1,1,0,...,2464.564941,4697.342285,2801.228271,0,0.000000,0.0,0,19447.76367,8400.0,3165.548340
7,1,9,0,2012,90,1,3,1,1,0,...,2502.398193,4886.208984,2854.805908,0,0.000000,0.0,0,19750.33789,8400.0,3252.245850
8,1,9,0,2012,91,1,3,1,1,2,...,1746.012939,2809.348389,1912.898926,1230,1.433333,100000.0,0,22653.96094,15400.0,2078.499023
9,1,9,0,2012,100,1,3,1,1,0,...,2587.796631,5094.404785,2961.603271,0,0.000000,0.0,0,20180.85547,8400.0,3375.603271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32291,1,9,0,2050,1704,1,3,2,12,0,...,2781.099854,3458.062988,2926.708740,2000,0.800000,0.0,220,25216.49414,14700.0,2984.668701
32292,1,9,0,2050,1705,1,3,2,12,0,...,2738.805420,3354.724365,2873.816406,2000,0.800000,0.0,240,22903.00195,12600.0,2923.496338
32293,1,9,0,2050,1706,1,3,2,12,0,...,2699.589111,3281.160400,2824.773682,2000,0.800000,0.0,260,22731.84375,12600.0,2874.453613
32294,1,9,0,2050,1707,1,3,2,12,0,...,2663.227295,3212.950439,2779.300293,2000,0.800000,0.0,280,22573.14063,12600.0,2828.980469
32295,1,9,0,2050,1708,1,3,2,12,0,...,2629.511963,3149.705322,2737.136963,2000,0.800000,0.0,300,22425.99023,12600.0,2786.816895

In [13]:
Cost_Data.columns.tolist()

['ScenarioID',
 'CountryID',
 'PolicyID',
 'Year',
 'TechID',
 'TransTypeID',
 'VehTypeID',
 'MassCatID',
 'FuelID',
 'HybridFlag',
 'EngineID',
 'AnnFixCost',
 'AnnVarCost',
 'EAC',
 'Y1Costs',
 'AnnCostsPriv',
 'AnnCostsCompUser',
 'AnnCostsCompFleet',
 'NoChargingAccessPenalty',
 'ChargingTime',
 'SupplyPenalty',
 'Range',
 'TCO',
 'FVDepreciation',
 'FVRunningCost']

In [17]:
Cost_Data_dict = dict()

for TechID in Cost_Data['TechID'].tolist():
    # dictionary for this techid for each YEAR
    year_dict = dict()
    
    for year in Cost_Data['Year'].tolist():
        
        # dictionary to contain all variables for this year&techId
        sub_dict = dict()
        for variable in [c for c in Cost_Data.columns.tolist() if c not in ['TechID', 'Year']]:
            sub_dict[variable] = Cost_Data[(Cost_Data['Year'] == year) & (Cost_Data['TechID'] == TechID)][variable].item()
    
        year_dict[year] = sub_dict
        
    Cost_Data_dict[TechID] = year_dict
    
Cost_Data_dict

KeyboardInterrupt:

{0: {2: 'dink', 3: 'dink'}, 1: {2: 'dink', 3: 'dink'}}

{}